*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Irish Grover', cursive;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hogwarts{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( 90deg,
                    #040405 10%,
                    rgba(255,255,255,0) 50%,
                    rgba(255,255,255,0) 50%,
                    #040405 90%
                    );
    position:relative;
}
i{
    padding-left: 10px;
}
a{
    color: #9FA6AF;
    text-decoration: none;
}
a:hover{
    color: #D3D9DE;
    text-decoration: none;
}
h2,h3,h4,h5,h6{
    font-family: 'Trade Winds', cursive;
}
.img-logo>img{
    display: block;
    width: 100px;
}
#header{
    background:url("../assets/images/background/header.jpg");
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px #6B7793;
}
#header .logo {
     font-size: 28px;
     margin: 0;
     padding: 0;
     line-height: 1;
     font-weight: 700;
     text-transform: uppercase;
}
#header .logo a{
    color: #6B7793;
    text-decoration: none;
    text-shadow: 3px 3px #000000;
}
.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul{
    display:flex;
}
.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 22px;
}
.nav-menu a{
    text-decoration: none;
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    font-family: "Nerfherder", sans-serif;
    padding: 0 4px;
    text-transform: uppercase;
}
.nav-menu>ul>li a::before{
    content: "";
    position: absolute;
    width:100%;
    height:2px;
    bottom: -6px;
    left: 0;
    background-color: #927755;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.nav-menu a:hover::before,
.nav-menu li:hover>a::before,
.nav-menu .active>a::before{
    visibility:visible;
    width: 100%;
}
.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a{
    color: #927755;
}
.cart-btn{
    margin-left: 150px;
}
.login-btn{
    margin-left: 10px;
}
.login-btn,.cart-btn{
    text-decoration: none;
    color: #6B7793;
    border-radius: 5px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #6B7793;
}
.login-btn:hover,.cart-btn:hover{
    background: #6B7793;
    color: #040405;
}
@media (max-width:768px){
    .login-btn{
        margin-left: 10px;  
    }
    .cart-btn{
        margin-left: 50px;
    }
    .image>img{
        position: absolute;       
        margin-top: -50px;
        right: 140px;
        text-align: left;
        width: 900px;
    }
    .content .main-text h6{
        margin-top: -120px;
        text-align: center;
    }
    .content .main-text h1{
        text-align: center;
    }
    .content .main-text h3{
        text-align: center;
    }
    .content .main-text p{
        padding-top:150px;
        text-align: center;
        width: 100% !important;
    }
    .features{
        text-align: center;
    }
    }
    .content .main-text a.more:hover{
        border: 2px solid #927755;
        background: transparent;
        transform: scale(1.1);
        transition: .4s;
    }
.container>.body-bg>img{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 120px;
}

#banner{
    background-image: url("../assets/images/background/header.jpg");
    background-attachment: fixed;
    position: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width:100%;
    position: relative;
}
.content{
    padding-top: 200px;
    margin-top: 100px;
    margin-bottom: 320px;
}
.content .main-text{
    position: relative;
    z-index: 2;
}
.content .main-text h6{
    font-size: 24px;
    font-weight: 200;
    color: #927755;
    margin-bottom: 30px;
}
.content .main-text h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    color: #ffb30e;
    margin: 0px 0px 45px 0px;
    text-shadow: 3px 3px #48536E;
}
.content .main-text h3{
    font-size: 30px;
    font-weight: 600;
    color: #927755;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: #927755;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
}
.content .main-text a.more{
    text-decoration: none;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
}
.content .main-text a.more:hover{
    border: 2px solid #927755;
    background: transparent;
    transform: scale(1.1);
    transition: .4s;
}
.image{
    position: absolute;
    width: 70%;
    height: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
    left: 450px;
    top: 250px;
    transition: 0.3s;
}
.image img{
    height: 40%;
}
.image:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

#features{
    background-image: linear-gradient( 180deg,
                    rgba(21, 3, 11,0) 100px,
                    rgba(21, 3, 11,0) 120px,
                    rgba(21, 3, 11,0) 100%);
    height: 1000px;
}
#features>.container{
    padding-top: 150px;
}
#features>.container>h2{
    color: #6B7793;
    text-shadow: 5px 5px #040405;
    margin-bottom: 50px;
    font-family: 'Irish Grover', cursive;
    font-size: 50px;
}
#features>.container h3{
    color: #927755;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px #040405;
}
#features>.container p{
    color: #927755;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px #040405;
}
