*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Irish Grover', cursive;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-size: cover;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hogwarts{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( 90deg,
                    #040405 10%,
                    rgba(255,255,255,0) 50%,
                    rgba(255,255,255,0) 50%,
                    #040405 90%
                    );
    position:relative;
    padding-bottom: 100px;
}
i{
    padding-left: 0px;
}
a{
    color: #9FA6AF;
    text-decoration: none;
}
a:hover{
    color: #D3D9DE;
    text-decoration: none;
}
h2,h3,h4,h5,h6{
    font-family: 'Trade Winds', cursive;
}
.img-logo>img{
    display: block;
    width: 100px;
}
#header{
    background:url("../assets/images/background/header.jpg");
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
#header .logo {
     font-size: 28px;
     margin: 0;
     padding: 0;
     line-height: 1;
     font-weight: 700;
     text-transform: uppercase;
}
#header .logo a{
    color: #6B7793;
    text-decoration: none;
    text-shadow: 3px 3px #000000;
}
.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul{
    display:flex;
}
.nav-menu ul li ul.dropdown{
    background-color: rgba(0, 0, 0, 0.8);
    top: 30px;
}
.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
    padding: 13px 20px 13px 20px;
}
.nav-menu a{
    text-decoration: none;
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    font-family: "Nerfherder", sans-serif;
    text-transform: uppercase;
}
.nav-menu>ul>li a i{
    padding-left: 15px;
}
.nav-menu>ul>li a::before{
    content: "";
    position: absolute;
    width:100%;
    height:2px;
    bottom: -6px;
    left: 0;
    background-color: #927755;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.nav-menu a:hover::before,
.nav-menu li:hover>a::before,
.nav-menu .active>a::before{
    visibility:visible;
    width: 100%;
}
.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a{
    color: #927755;
}
.nav-menu ul li ul.dropdown li{
    display: block;
    padding-bottom: 7px;
}
.nav-menu ul li ul.dropdown{
    width: fit-content;
    padding-top: 10px;
    position: absolute;
    z-index: 999;
    display: none;
}
.nav-menu ul li:hover ul.dropdown{
    display: block;
}
.cart-btn{
    margin-left: 30px;
}
.login-btn{
    margin-left: 10px;
}
.login-btn,.cart-btn{
    text-decoration: none;
    color: #6B7793;
    border-radius: 5px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #6B7793;
}
.login-btn:hover,.cart-btn:hover{
    background: #6B7793;
    color: #040405;
}
.mobile-menu>span{
    display: none;
    color:#6B7793;
}
@media (max-width:768px){
    #header .container{
        margin: 0px;
    }
    #header .logo{
        margin-right: 150px;
    }
    .nav-menu>ul{
        display:block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        left:0px;
        top:37px;
        width: 200px;
    }
    .nav-menu ul li ul.dropdown{
        left: 150px;
        background-color: rgba(0, 0, 0, 1);
        top: 3px;
    }
    .mobile-menu{
        position: relative;
        text-decoration: none;
        color: #6B7793;
        border-radius: 5px;
        padding: 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        font-size: 13px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 1px solid #6B7793;
    }
    .mobile-menu:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .mobile-menu>span{
        display: inline-block;
    }
    .mobile-menu:hover nav{
        display: block !important;
    }
    .login-btn{
        margin-left: 10px;  
    }
    .cart-btn{
        margin-left: 10px;
    }
    .image>img{
        position: absolute;       
        margin-top: -50px;
        right: 140px;
        text-align: left;
        width: 900px;
    }
    .content .main-text h6{
        margin-top: -120px;
        text-align: center;
    }
    .content .main-text h1{
        text-align: center;
    }
    .content .main-text h3{
        text-align: center;
    }
    .content .main-text p{
        padding-top:150px;
        text-align: center;
        width: 100% !important;
    }
    .content .main-text .quote{
        text-align: center;
        width: 100% !important;
    }
    .features .more{
        text-align: center;
    }
    #marquee .pic-container .pic{
        flex-basis: 33.33%;
        border: 1px solid rgba(143, 148, 204, 0.7);
    }
    }
    .content .main-text a.more:hover{
        border: 2px solid #927755;
        background: transparent;
        transform: scale(1.1);
        transition: .4s;
    }
.container>.body-bg>img{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 120px;
}

.sign-up-form img{
    width: 80px;
}
.sign-up-form{
    width: 400px;
    height: 750px;
    padding: 130px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.sign-up-form h1{
    color: #112131;
}
.sign-up-form p{
    text-align: center;
    padding-top: 10px;
}
form a{
    color: #00087a;
    text-decoration: none;
}
.name{
    margin-top: 20px;
    margin-left: 0;
}
input[type=text],input[type=password],input[type=email]{
    outline: none;
    width: 300px;
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 2px;
    padding: 5px 10px;
    color: white;
}
.or{
    background-color: rgb(153, 153, 153);
    width: 35px;
    margin: -38px auto 10px auto;
    position: relative;
}
.sign-btn{
    width: 300px;
    padding: 5px 20px;
    border-radius: 20px;
    color: #927755;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #927755;
    cursor: pointer;
    margin-bottom: 20px;
}
.sign-btn:hover{
    color: #000000;
    background-color: #927755;
    border: 2px solid #927755;
}
hr{
    bottom: 20px;
}
.signup-btn{
    padding: 3px 0px;
    margin-top: 10px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
}
.signup-btn:hover{
    color: #000000;
    background-color: #927755;
    border: 2px solid #927755;
}

#banner{
    background-image: url("../assets/images/background/stars.gif");
    background-attachment: fixed;
    position: fixed;
    background-position: center;
    height: 100%;
    width:100%;
    position: relative;
}
.content{
    padding-top: 177px;
    margin-top: 80px;
    margin-bottom: 370px;
}
.content .main-text{
    position: relative;
    z-index: 2;
}
.content .main-text h6{
    font-size: 24px;
    font-weight: 200;
    color: #927755;
    margin-bottom: 30px;
}
.content .main-text h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    color: #ffb30e;
    margin: 0px 0px 45px 0px;
    text-shadow: 3px 3px #48536E;
}
.content .main-text h3{
    font-size: 30px;
    font-weight: 600;
    color: #927755;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
.content .main-text .quote{
    text-align: right;
    max-width: 100%;
    width: 480px;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
}
.content .main-text a.more{
    text-decoration: none;
    position: absolute;
    left: 0;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
}
.content .main-text a.more:hover{
    border: 2px solid #927755;
    background: transparent;
}
.more i{
    padding-left: 10px;
}
.image{
    position: absolute;
    width: 60%;
    height: 70%;
    bottom: 0;
    right: 0;
    text-align: right;
    left: 450px;
    top: 199px;
    transition: 0.3s;
}
.image img{
    height: 33%;
}
.image img:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

#features{
    background-image: linear-gradient( 180deg,
                    rgba(21, 3, 11,0) 100px,
                    rgba(21, 3, 11,0) 120px,
                    rgba(21, 3, 11,0) 100%);
    height:max-content;
}
#features{
    background-image: url(../assets/images/background/stars.gif);
    background-attachment: fixed;
}
#features>.container{
    padding-top: 150px;
}
#features>.container>h2{
    color: #6B7793;
    text-shadow: 5px 5px #040405;
    margin-bottom: 50px;
    font-family: 'Irish Grover', cursive;
    font-size: 50px;
}
#features #houses h3{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
}
#features #houses p{
    color: #927755;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px #040405;
}
#features .crest{
    background-image: url("../assets/images/elements/Gryffindor_crest.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width:100%;
    position: relative;
    animation: crest 15s infinite ease-in-out;
}
@keyframes crest{
    0%
    {
        background-image: url("../assets/images/elements/Gryffindor_crest.png");
        
    }
    25%
    {
        background-image: url("../assets/images/elements/Slytherin_Crest.png");
    }
    50%
    {
        background-image: url("../assets/images/elements/Hufflepuff_crest.png");
    }
    75%
    {
        background-image: url("../assets/images/elements/Ravenclaw_crest.png");
    }
}
#features #houses{
    background-image: url("../assets/images/background/gryffindor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:fit-content;
    width:100%;
    position: relative;
    transition: all 0.4s;
    animation: change 15s infinite ease-in;
}
@keyframes change{
    0%
    {
        background-image: url("../assets/images/background/gryffindor.jpg");
        
    }
    25%
    {
        background-image: url("../assets/images/background/slytherin.jpg");
    }
    50%
    {
        background-image: url("../assets/images/background/hufflepuff.jpg");
    }
    75%
    {
        background-image: url("../assets/images/background/ravenclaw.jpg");
    }
}
#features #houses:hover{
    transform: scale(1.05);
}
#features #darken-houses{
    background-color:rgb(10, 10, 10, 0.7);
}
.house-more i{
    padding-left: 10px;
}
.house-more{
    text-decoration: none;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.house-more:hover{
    color:#ffb30e;
    border: 2px solid #927755;
    background: transparent;
    transform: scale(1.05);
    transition: .4s;
}
.houses{
    text-align:center;
    margin-bottom: 40px;
}

#features #books h3{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
}
#features #books p{
    color: #927755;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px #040405;
}
#features .book{
    background-image: url("../assets/images/elements/book1.jpg");
    background-size: 150px;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    animation: book 20s infinite ease-in-out;
}
@keyframes book{
    0%
    {
        background-image: url("../assets/images/elements/book1.jpg"); 
    }
    14%
    {
        background-image: url("../assets/images/elements/book2.jpg");
    }
    28%
    {
        background-image: url("../assets/images/elements/book3.jpg");
    }
    42%
    {
        background-image: url("../assets/images/elements/book4.jpg");
    }
    56%
    {
        background-image: url("../assets/images/elements/book5.jpg");
    }
    70%
    {
        background-image: url("../assets/images/elements/book6.jpg");
    }
    84%
    {
        background-image: url("../assets/images/elements/book7.jpg");
    }
}
#features #books{
    background-image: url("../assets/images/elements/book1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:50px;
    height:fit-content;
    width:100%;
    position: relative;
    transition: all 0.4s;
    animation: change1 20s infinite ease-in;
}
@keyframes change1{
    0%
    {
        background-image: url("../assets/images/elements/book1.jpg");
        
    }
    14%
    {
        background-image: url("../assets/images/elements/book2.jpg");
    }
    28%
    {
        background-image: url("../assets/images/elements/book3.jpg");
    }
    42%
    {
        background-image: url("../assets/images/elements/book4.jpg");
    }
    56%
    {
        background-image: url("../assets/images/elements/book5.jpg");
    }
    70%
    {
        background-image: url("../assets/images/elements/book6.jpg");
    }
    84%
    {
        background-image: url("../assets/images/elements/book7.jpg");
    }
}
#features #books:hover{
    transform: scale(1.05);
}
#features #darken-books{
    background-color:rgb(10, 10, 10, 0.7);
    height:fit-content;
}
.book-more i{
    padding-left: 10px;
}
.book-more{
    text-decoration: none;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.book-more:hover{
    color:#ffb30e;
    border: 2px solid #927755;
    background: transparent;
    transform: scale(1.05);
    transition: .4s;
}
.books{
    text-align:center;
    margin-bottom: 40px;
}


#features #characters h3{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
}
#features #characters p{
    color: #927755;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px #040405;
}
#features .people{
    background-image: url("../assets/images/elements/pics1.png");
    background-size: 250px;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    animation: people 20s infinite ease-in-out;
}
@keyframes people{
    0%
    {
        background-image: url("../assets/images/elements/pics1.png");
    }
    20%
    {
        background-image: url("../assets/images/elements/pics2.png");
    }
    40%
    {
        background-image: url("../assets/images/elements/pics3.png");
    }
    60%
    {
        background-image: url("../assets/images/elements/pics4.png");
    }
    80%
    {
        background-image: url("../assets/images/elements/pics5.png");
    }
}
#features #characters{
    background-image: url("../assets/images/elements//char1.jpg");
    background-size: cover;
    background-position: 100px 0px 0px 0px;
    background-repeat: no-repeat;
    margin-top:50px;
    height:fit-content;
    width:100%;
    position: relative;
    transition: all 0.4s;
    animation: change3 20s infinite ease-in-out;
}
@keyframes change3{
    0%
    {
        background-image: url("../assets/images/elements/char1.jpg");
        background-position: 100px 0px 0px 0px;
    }
    25%
    {
        background-image: url("../assets/images/elements/char2.jpg");
        background-position: 100px 0px 0px 0px;
    }
    50%
    {
        background-image: url("../assets/images/elements/char3.jpeg");
        background-position: 100px 0px 0px 0px;
    }
    75%
    {
        background-image: url("../assets/images/elements/char4.jpg");
        background-position: center;
    }
}
#features #characters:hover{
    transform: scale(1.05);
}
#features #darken-characters{
    background-color:rgb(10, 10, 10, 0.7);
    height:fit-content;
}
.character-more i{
    padding-left: 10px;
}
.character-more{
    text-decoration: none;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.character-more:hover{
    color:#ffb30e;
    border: 2px solid #927755;
    background: transparent;
    transform: scale(1.05);
    transition: .4s;
}
.characters{
    text-align:center;
    margin-bottom: 40px;
}

#features #mini-quiz h3{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
}
#features #mini-quiz p{
    color: #927755;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px #040405;
}
#features .question{
    background-image: url("../assets/images/icons/question-mark.gif");
    background-size: 250px;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
#features #mini-quiz{
    background-image: url("../assets/images/background/mini-quiz.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:50px;
    height:fit-content;
    width:100%;
    position: relative;
    transition: all 0.4s;
}
#features #mini-quiz:hover{
    transform: scale(1.05);
}
#features #darken-quiz{
    background-color:rgb(10, 10, 10, 0.7);
    height:fit-content;
}
.quiz-more i{
    padding-left: 10px;
}
.quiz-more{
    text-decoration: none;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.quiz-more:hover{
    color:#ffb30e;
    border: 2px solid #927755;
    background: transparent;
    transform: scale(1.05);
    transition: .4s;
}
.mini-quiz{
    text-align:center;
    margin-bottom: 40px;
}

#features #merchandise h3{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
}
#features #merchandise p{
    color: #927755;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px #040405;
}
#features .merch{
    background-image: url("../assets/images/elements/merch1.png");
    background-size: 250px;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    animation: merch 10s infinite ease-in-out;
}
@keyframes merch{
    0%
    {
        background-image: url("../assets/images/elements/merch1.png");
    }
    33%
    {
        background-image: url("../assets/images/elements/merch2.png");
    }
    66%
    {
        background-image: url("../assets/images/elements/merch3.png");
    }
}
#features #merchandise{
    background-image: url("../assets/images/background/merch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:50px;
    height:fit-content;
    width:100%;
    position: relative;
    transition: all 0.4s;
}
#features #merchandise:hover{
    transform: scale(1.05);
}
#features #darken-merch{
    background-color:rgb(10, 10, 10, 0.7);
    height:fit-content;
}
.merch-more i{
    padding-left: 10px;
}
.merch-more{
    text-decoration: none;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.merch-more:hover{
    color:#ffb30e;
    border: 2px solid #927755;
    background: transparent;
    transform: scale(1.05);
    transition: .4s;
}
.merchandise{
    text-align:center;
    margin-bottom: 40px;
}

.footer{
    background-image: linear-gradient( 180deg,
                    #e7c500 0%,
                    #e7c500 3%,
                    #0c1218 3%,
                    #040405 100%
                    );
    background-color: #0c1218;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding:50px 50px 60px 50px;
}
.footer .logo-footer img{
    display: block;
    margin: auto;
    width: 150px;
    margin-top: -120px;
}
.footer .footer-left, .footer .footer-center, .footer .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer .footer-left{
    width: 30%;
}
.footer h3{
    color: #927755;
    font: bold 36px 'Irish Grover', cursive;
    margin: 0;
}
.footer .footer-links{
    color: #9FA6AF;
    margin: 20px 0 12px;   
}
.footer .footer-links a{
    display: block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-family: 'Nerfherder', sans-serif;
}
.footer-links a:hover{
    color: #927755;
}
.footer .footer-website-name{
    color:#48536E;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family: 'Nerfherder', sans-serif;
}
.footer-website-name span{
    font-size: 16px;
    color: #927755;
}
.footer .footer-center{
    width: 35%;
}
.footer .footer-center i{
    color: #9FA6AF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-center p{
    display: inline-block;
    color: #9FA6AF;
    vertical-align: middle;
    margin: 0;
    font-family: 'Nerfherder', sans-serif;
}
.footer .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    font-family: 'Nerfherder', sans-serif;
}
.footer .footer-center p.mail{
    color: #927755;
}
.footer .footer-right{
    width: 30%;
}
.footer .footer-website-about{
    line-height: 20px;
    color: #868b92;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Nerfherder', sans-serif;
    margin: 0;
}
.footer .footer-website-about span{
    display: block;
    color:#9FA6AF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Nerfherder', sans-serif;
}
.footer .footer-icons{
    margin-top: 25px;
}
.footer .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 35px;
    color:#6B7793;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer .footer-icons a:hover{
    color:#927755;
}
@media(max-width:768px){
    .footer .footer-left, .footer .footer-center,
    .footer .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer .footer-center i{
        margin-left: 0;
    }
}

.houses-crest img{
    margin-top: 150px;
    width: 300px;
    height:auto;
}
.house-info h3{
    color: #e7c500;
    font-size: 60px !important;
    text-align: center;
    padding-top:20px;
    text-shadow: 5px 5px #26262e;
    margin-bottom: 20px;
}
.house-info p{
    text-align: center;
    padding: 0% 10%;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
.symbol-title h2{
    color: #e7c500;
    font-size: 50px !important;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
    margin-bottom: 20px;
}
.symbols .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color:rgba(20, 22, 46, 0.7);
    margin: 30px 10px;
    padding: 20px 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.7);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}
.symbols .card:hover{
    height: 440px;
    position: relative;
}
.symbols .row{
    margin: 30px 10% 0px 10%;
}
.symbols .card .symbol-image{
    position: relative;
    width: 260px;
    height: 260px;
    top: -40%;
    left: 8px;
    z-index: 1;
}
.symbols .card .symbol-image img{
    border-radius: 15px;
    margin-left: -165px;
    width: 600px;
}
.symbols .card .symbol-content{
    position: relative;
    top: -190px;
    padding: 10px 15px;
    color: #f3eea6;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.symbols .card .symbol-content h3{
    font-size: 28px;
}
.symbols .card .symbol-content p{
    font-family: 'Times New Roman', Times, serif;
    color: #D3D9DE;
}
.symbols .card:hover .symbol-content{
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}
.symbols{
    align-items: center;
    justify-content: center;
    padding:30px;
}
.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 115px auto 0;
    margin-bottom: 100px;
}
.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -25px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #D3D9DE;
    color:#000000;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: #D3D9DE;
}
.hi-slide .hi-prev{ 
    left: -80px;
}
.hi-slide .hi-prev::before{
    content: '<';
}
.hi-slide .hi-next{
    right: -75px;
}
.hi-slide .hi-next::before{
    content: '>';
}
.hi-slide>ul{
    list-style: none;
    position: relative;
    width: 754px;
    height:256px;
    margin: 0;
    padding: 0;
}
.hi-slide>ul>li{
    overflow: hidden;
    position: absolute;
    z-index:0;
    left:377px;
    top:147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid #48536E;
    cursor: pointer;
    background-color: #333;
}
.hi-slide>ul>li>img{
    width: 100%;
    height: 100%;
    background-position: center;
}
#books-info .rowling{
    background-image: url("../assets/images/elements//jkrowling.png");
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
    width:100%;
    position: relative;
}
.harry-series h3{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
    color: #927755;
}
.harry-series p{
    padding-top: 20px;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
.book-lists h3{
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: #ffb30e;
    margin: 50px 0px 45px 0px;
    text-shadow: 3px 3px #48536E;
}
.book-lists h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
    color: #927755;
}
.book-lists .row-up img{
    width: 250px;
    height: auto;
    margin: 0 15%;
}
.book-lists .row-down img{
    width: 250px;
    height: auto;
    margin: 0 25%;
}
.book-lists img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
section.negative-margin-top{
    margin-top: -120px;
}
section.negative-margin-top>div:first-child,
.book-title{
    padding-top: 140px;
}
.book-title h3{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #927755;
}
.book-title p{
    margin-top:20px;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}

.content-characters{
    padding-top: 150px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.content-characters .main-text-characters h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: #ffb30e;
    margin: 0px 0px 45px 0px;
    text-shadow: 3px 3px #48536E;
}
.content-characters .main-text-characters h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #927755;
}
.content-characters .main-text-characters p{
    text-align: center;
    padding: 0% 25%;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
#marquee{
    padding: 50px 0px;
    width: 100%;
}
#marquee .container{
    overflow: hidden;
    width: 100%;
}
#marquee .pic-container{
    display: flex;
    animation: marquee 25s infinite linear;
}
#marquee .pic-container .pic{
    flex-basis: 25%;
    flex-shrink: 0;
}
#marquee img{
    width: 100%;
    object-fit: cover;
    border: 2px solid rgba(143, 148, 204, 0.7)
}
@media (max-width: 1024px){
    #marquee .pic-container .pic{
        flex-basis: 25%;
    }
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-274%);
    }
}
.main-char{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
    margin-bottom: 20px;
}
.maincarousel{
    position: relative;
    width: 30%;
    height: 30%;
    margin: 0 auto;
}
.unknown-char{
    color: #e7c500;
    position: relative;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px #040405;
}
.unknown-carousel{
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
#unknown-carousel{
    margin-bottom: 30px;
}
#unknown-carousel:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#unknown-carousel:hover::after{
    content: "";
    background-image: linear-gradient( 90deg,
                    rgba(0,0,0,0.6) 0%,
                    rgba(255,255,255,0) 30%,
                    rgba(255,255,255,0) 70%,
                    rgba(0,0,0,0.6) 100%
                    );
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
#character-carousel{
    margin-bottom: 30px;
}
#character-carousel:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#character-carousel:hover::after{
    content: "";
    background-image: linear-gradient( 90deg,
                    rgba(0,0,0,0.6) 0%,
                    rgba(255,255,255,0) 30%,
                    rgba(255,255,255,0) 70%,
                    rgba(0,0,0,0.6) 100%
                    );
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.char-houses{
    color: #e7c500;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
    margin-bottom: 20px;
}
#gryffindorcarousel:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#gryffindorcarousel:hover::after{
    content: "";
    background-image: linear-gradient( 90deg,
                    rgba(0,0,0,0.6) 0%,
                    rgba(255,255,255,0) 30%,
                    rgba(255,255,255,0) 70%,
                    rgba(0,0,0,0.6) 100%
                    );
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.gryffindor-txt{
    color: #d42000;
    font-size: 30px;
    text-align: center;
    padding-top:20px;
    text-shadow: 3px 3px #000000;
    margin-bottom: 20px;
}
#slytherincarousel:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#slytherincarousel:hover::after{
    content: "";
    background-image: linear-gradient( 90deg,
                    rgba(0,0,0,0.6) 0%,
                    rgba(255,255,255,0) 30%,
                    rgba(255,255,255,0) 70%,
                    rgba(0,0,0,0.6) 100%
                    );
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.slytherin-txt{
    color: #00b427;
    font-size: 30px;
    text-align: center;
    padding-top:20px;
    text-shadow: 3px 3px #000000;
    margin-bottom: 20px;
}
#hufflepuffcarousel:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#hufflepuffcarousel:hover::after{
    content: "";
    background-image: linear-gradient( 90deg,
                    rgba(0,0,0,0.6) 0%,
                    rgba(255,255,255,0) 30%,
                    rgba(255,255,255,0) 70%,
                    rgba(0,0,0,0.6) 100%
                    );
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.hufflepuff-txt{
    color: #b3db00;
    font-size: 30px;
    text-align: center;
    padding-top:20px;
    text-shadow: 3px 3px #000000;
    margin-bottom: 20px;
}
#ravenclawcarousel:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#ravenclawcarousel:hover::after{
    content: "";
    background-image: linear-gradient( 90deg,
                    rgba(0,0,0,0.6) 0%,
                    rgba(255,255,255,0) 30%,
                    rgba(255,255,255,0) 70%,
                    rgba(0,0,0,0.6) 100%
                    );
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.ravenclaw-txt{
    color: #4c00ff;
    font-size: 30px;
    text-align: center;
    padding-top:20px;
    text-shadow: 3px 3px #000000;
    margin-bottom: 20px;
}

.quiz-title h2{
    color: #e7c500;
    font-size: 50px !important;
    text-align: center;
    padding-top:50px;
    text-shadow: 5px 5px #040405;
    margin-bottom: 20px;
}
.quiz .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color:rgba(20, 22, 46, 0.7);
    margin: 30px 10px;
    padding: 20px 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.7);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}
.quiz .card:hover{
    height: 250px;
    position: relative;
}
.quiz .row{
    margin: 30px 10% 0px 10%;
}
.quiz .card .quiz-image{
    position: relative;
    width: 260px;
    height: 260px;
    top: -40%;
    left: 8px;
    z-index: 1;
}
.quiz .card .quiz-image img{
    border-radius: 15px;
    margin-left: -7px;
    width: 200px;
}
.quiz .card .quiz-content{
    position: relative;
    top: -190px;
    padding: 10px 15px;
    color: #f3eea6;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.quiz .card .quiz-content h3{
    font-size: 28px;
}
.quiz .card .quiz-content button{
    font-family: consolas;
    font-weight: 500;
    color: #040405;
    background-color: #927755;
    border-radius: 10px;
    padding: 5px 10px;
}
.quiz .card .quiz-content button:hover{
    color: #927755;
    background-color: rgba(0, 0, 0, .3);
}
.quiz .card:hover .quiz-content{
    margin-top: 110px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}
.quiz{
    align-items: center;
    justify-content: center;
    padding:30px;
}
#quiz-container{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px 20px;
}
.questions{
    margin: 1rem auto;
    width: 90vw;
    cursor: pointer;
}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem #0c1218;
    width: 20rem;
    background: #D3D9DE;
    border-radius: 1rem;
}
.option:hover{
    color: #927755;
}
ol{
    position: relative;
    padding: 0 1.5rem;
    color: #0c1218;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: #0c1218;
}
.buttons{
    text-align: center;
}
.buttons button{
    padding: 5px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    color: #D3D9DE;
    background-color: rgba(0, 0, 0, .3);
}
.buttons button:active{
    color: #D3D9DE;
    background-color: rgba(0, 0, 0, .3);
}
.buttons button:hover{
    color: #0c1218;
    background-color: #927755;
}
#scoreboard,
#answerBank{
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display:none;
}
#score-title{
    margin: 1rem 0;
}
#score-btn,
#check-answer{
    margin-top: 1rem;
    padding: 5px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    color: #D3D9DE;
    background-color: rgba(0, 0, 0, .3);
}
#score-btn:hover,
#check-answer:hover{
    color: #0c1218;
    background-color: #927755;
}
#score{
    font-size: 2.5rem;
}
#answerBank{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}

.merch-text{
    margin-top:50px;
}
.merch-image img{ 
    position: absolute;
    width: 600px;
    height: 600px;
    right: 300px;
}
.content .main-text .shop-now a{
    text-decoration: none;
    position: absolute;
    left: 0;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content .main-text .trending a{
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
    left: 0;
    color:#ffb30e;
    background:#927755;
    padding: 9px 30px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
}
.content .main-text .shop-now a:hover,
.content .main-text .trending a:hover{
    border: 2px solid #927755;
    background: transparent;
}
.trending i{
    padding-left: 10px;
}
.center-text h2{
    color: #D3D9DE;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.center-text span{
    color: #e4c200;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 3rem;
}
.products .row{
    position: relative;
    transition: all .40s;
}
.products .row img{
    width:300px;
    height:300px;
    transition: all .40s;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color:#D3D9DE;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #00b427;
    padding: 3px 10px;
    border-radius: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.rating i{
    color: #fbff00;
}
.rating p{
    color: #6B7793;
    position: absolute;
    top:300px;
    left:130px;
    font-size: 16px;
}
.price h4{
    margin-top: 3px;
    color: #D3D9DE;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #f3f8fc;
    font-size: 18px;
    font-weight: 500;
}
.add-cart button{
    padding: 5px 10px;
    color: #927755;
    border: 1px solid #927755;
    outline: none;
    font-weight: 500;
    background-color:#040405;
    margin-bottom: 20px;
}
.add-cart button:hover{
    background-color: #927755;
    color: #040405;
}
.client-reviews{
    background-color: #0c1218;
}
.reviews{
    text-align: center;
}
.reviews h3{
    color:#D3D9DE;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:700;
    padding-top: 15px;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 20px 0 10px;
}
.reviews p{
    color: #868b92;
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.reviews h2{
    font-size: 22px;
    color: #927755;
    font-weight:bold;
    text-transform:capitalize;
    margin-bottom: 2px;
}
.category-text h2{
    color: #D3D9DE;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 40px;
}
.category-text span{
    color: #e4c200;
}
.merch-categories a{
    font-family: consolas;
    position: relative;
    display:inline-block;
    padding: 50px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 30px;
    overflow:hidden;
    transition: 0.2s;
    text-align: center;
}
.merch-categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 5rem;
    margin-bottom: 50px;
}
.merch-categories a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1){
    left:100%;
    transition: 1s;
}
a span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(2){
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4){
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.content-items{
    padding-top: 150px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.content-items .main-text-characters h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: #ffb30e;
    margin: 0px 0px 45px 0px;
    text-shadow: 3px 3px #48536E;
}
.content-items .main-text-characters h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #927755;
}
.content-items .main-text-characters p{
    text-align: center;
    padding: 0% 25%;
    color: #e7e7e7;
    text-shadow: 2px 2px #000000;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
#shop-marquee{
    padding: 50px 0px;
    width: 100%;
    margin-bottom: 50px;
}
#shop-marquee .container{
    overflow: hidden;
    width: 100%;
}
#shop-marquee .pic-container{
    display: flex;
    animation: marquee 25s infinite linear;
}
#shop-marquee .pic-container .pic{
    flex-basis: 25%;
    flex-shrink: 0;
}
#shop-marquee img{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 1024px){
    #shop-marquee .pic-container .pic{
        flex-basis: 25%;
    }
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-274%);
    }
}
.breadcrumb a{
    text-decoration: none;
    color: #D3D9DE;
    font-size: 20px;
    font-weight: 400;
}
.breadcrumb a:hover{
    color: #927755 !important;
}
.search-container{
    position: relative;
    margin:auto;
    margin-top: 20px;
    width:500px;
    height: 48px;
    border: 3px solid #D3D9DE;
    border-radius: 50px;
    padding: 3px 15px 3px;
}
.search-box{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 95% !important;
    padding: 0 5px;
    font-family: consolas;
    font-size: 18px;
    color: #D3D9DE;
    font-weight: 500;
}
.search-box i{
    font-size: 22px;
    color: #D3D9DE;
}
.search-box i:hover{
    color:#927755;
}
#all-items h3{
    color: #e4c200;
    font-family: 'trade winds', cursive;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
#all-items h4{
    margin-bottom: 5px;
}
#all-items .add-cart .btn{
    position: absolute;
    left: 100px;
}
.add-cart .row{
    position: relative;
    transition: all .40s;
}
.add-cart .row img{
    width:200px;
    height:200px;
    transition: all .40s;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
}
.row img:hover{
    transform: scale(0.9);
}
.modal-header{
    background-color: #927755;
    color: #D3D9DE;
}
.btn-close{
    background-color: transparent !important;
}
.add-cart h4{
    color: #0c1218;
}
.add-cart p{
    color: #0c1218;
    margin-bottom: 5px;
}
.add-cart .btn:hover{
    border: #927755;
}